body {
    background-color: peachpuff;
    font-family: 'Arial', 'Verdana', 'Brush Script MT';
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: peachpuff;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: brown;
}

.parent {
    text-align: center;
}

.child {
    display: inline-block;
    padding: 20px;
}